name: Java CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: Ruanete1997.
          MYSQL_DATABASE: PadelManagerTest
        ports:
            - '8888:3306'
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Verify MySQL connection from host and create databases
      run: |
        sudo apt-get install -y mysql-client
        mysql -h 127.0.0.1 --port 8888 -u root -pRuanete1997. -e "SHOW DATABASES;"
        mysql -h 127.0.0.1 --port 8888 -u root -pRuanete1997. < test/PadelManagerDatabase.sql
        mysql -h 127.0.0.1 --port 8888 -u root -pRuanete1997. -e "SHOW DATABASES;"
    - name: Build with Maven
      run: |
        cd padelmanager
        mvn clean install
